*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #827f7f;
    
}
#box{
    border: 2px solid black;
    position: absolute;
    top: 30%;
    left: 30%;
}
#box h1{
    margin-left: 7rem;
}
#from{
    display: flex;
    margin-top: 50px;

}
#icon{
    margin-left:140px;
    margin-right:100px;
}
#from input{
    margin: 10px 0 10px 10px;
}
#to input{
    margin: 10px 10px 10px 10px;
}
option{
    color: #000;
}
#btn{
    margin-left: 45%;
}
